include _includes/mixins
doctype html
html(lang='en')
    - var title = 'Територія захисту';
    include _includes/head
    body
        include _includes/header/header

        .wrapper
            include _includes/software/software
        include _includes/footer/footer

        /// modals start
        /// modals end

        // java script links
        include _includes/js-links