main
    .container
        .our-blog
            .row
                .col-md-18
                    .blog-detail
                        .blog_title
                            h4.new_arrival__title.main-page_product__title our blogs
                        .blog-detail__img
                            .blog-img
                                //.img-cont
                                //    img(src="img/product2.jpg")
                            .main-page__blog__prev__date
                                span 25 ЛИС
                        span.blog-detail__title.main-page__blog__text__title Vivamus finbus ante
                        .main-page__blog__text__feedback
                            a(href="").main-page__blog__text__comm
                                i.fa.fa-comments(aria-hidden="true")
                                    span 58
                                    span comments
                            a(href="").main-page__blog__text__like
                                i.fa.fa-thumbs-o-up(aria-hidden="true")
                                    span 58
                                    span likes
                        .blog-detail__text
                            p.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at sagittis nisl, quis molestie nunc. Quisque augue mauris, luctus at arcu et, eleifend pellentesque diam. Nullam in maximus magna, mattis dapibus dui. Nunc in leo vulputate, porta ante in, egestas felis. Nulla sollicitudin eros sed dolor dictum consequat. Mauris semper rhoncus magna, ac porttitor elit pharetra sed. Suspendisse eget condimentum felis. Pellentesque aliquet urna quis ultricies sollicitudin. In ipsum est, sagittis eget ligula et, suscipit laoreet sem. Pellentesque rutrum massa sed elit luctus, eget convallis lorem lacinia. Mauris ac ex et nunc tempor euismod. Morbi in libero non arcu cursus pulvinar vel eget sapien. Ut nisi lacus, efficitur semper ullamcorper in, finibus eget eros. Curabitur sem tortor, ultrices eget augue quis, porta posuere urna. Suspendisse et ipsum ornare tortor fringilla viverra in ac nibh.

                                Fusce porta sed tortor in elementum. Etiam eget tempus lectus, et volutpat metus. Curabitur consectetur est eget ante tristique sagittis. Sed volutpat finibus porttitor. Curabitur non semper mauris. Fusce condimentum molestie nibh ac sollicitudin. Suspendisse tincidunt id tortor eu lobortis. Vestibulum vel sagittis dui, eu porta lorem. Duis hendrerit eget nibh sed molestie. Vestibulum pretium est eu congue vulputate. Nullam vel suscipit sapien, at egestas nisi. Pellentesque vestibulum interdum felis ac feugiat. Nam quis dolor tortor. Maecenas facilisis ligula sed risus consectetur volutpat.
                            p.
                                Donec in sem nulla. Integer eu molestie ex. Phasellus porta augue non tellus feugiat lacinia. Duis condimentum tincidunt tortor non faucibus. Pellentesque a dui leo. Morbi in nunc ultrices, tincidunt velit in, facilisis diam. In dignissim felis in mattis interdum. Mauris lorem nunc, laoreet et est eget, ullamcorper facilisis elit. Sed ultricies interdum lectus, eget ullamcorper diam pulvinar a. Vivamus quis felis et nibh ornare commodo. Quisque at purus leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur vel turpis nunc. Etiam ut vehicula metus, ac vehicula libero. Praesent quam eros, cursus in congue consectetur, aliquet vitae leo.

                            p.
                                In consectetur malesuada tortor, a tristique erat volutpat ut. Praesent ultricies at massa non sollicitudin. Fusce pellentesque at libero in congue. Nullam et neque ut lectus posuere interdum. Nunc venenatis lorem non accumsan molestie. Mauris auctor ut libero eget pharetra. Nulla facilisi. Sed maximus porta libero et pulvinar. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis a lobortis nunc.

                                Sed sollicitudin vestibulum cursus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas id ex eget justo sollicitudin lacinia. Proin tempor augue sed blandit condimentum. Aenean interdum nibh vel justo vestibulum fermentum at vel ex. Fusce nibh velit, condimentum in nibh ut, tristique bibendum magna. Aenean sagittis eget tortor nec iaculis. Aliquam erat volutpat. Curabitur neque justo, eleifend ac placerat vel, tempor non tortor. Quisque non quam pellentesque urna euismod finibus tincidunt nec elit. In varius interdum eros quis molestie.
                        .blog-detail__comments#blog-detail__comments
                            .blog-detail__comments__title
                                h5 comments
                                button
                                    i.fa.fa-thumbs-o-up.like-btn(aria-hidden="true")
                            .blog-detail__comments_item
                                .blog-detail-comment__main
                                    .blog-detail-comment__main__img.img-cont
                                        img(src="img/face2.jpg" alt="avatar")
                                    .blog-detail-comment__main__text
                                        span.title Jackey Lawsun
                                        p.
                                            In consectetur malesuada tortor, a tristique erat volutpat ut. Praesent ultricies at massa non sollicitudin. Fusce pellentesque at libero in congue. Nullam et neque ut lectus posuere interdum. Nunc venenatis lorem non accumsan molestie. Mauris auctor ut libero eget pharetra. Nulla facilisi. Sed maximus porta libero et pulvinar. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis a lobortis nunc.
                                            sollicitudin vestibulum cursus. Orci varius natoque penatibus et magnis dis parturient montes, nas
                                    .blog-detail-comment__main_btn
                                        .btn_blog
                                            button.btn_black Reply
                                .blog-detail-comment__reply
                                    .blog-detail-comment__reply__item
                                        .blog-detail-comment__main__img.img-cont
                                            img(src="img/face2.jpg" alt="avatar")
                                        .blog-detail-comment__main__text
                                            span.title Jackey Lawsun
                                            p.
                                                In consectetur malesuada tortor, a tristique erat volutpat ut. Praesent ultricies at massa non sollicitudin. Fusce pellentesque at libero in congue. Nullam et neque ut lectus posuere interdum. Nunc venenatis lorem non accumsan molestie. Mauris auctor ut libero eget pharetra. Nulla facilisi. Sed maximus porta libero et pulvinar. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis a lobortis nunc.
                                                sollicitudin vestibulum cursus. Orci varius natoque penatibus et magnis dis parturient montes, nas
                                        .blog-detail-comment__main_btn
                                            .btn_blog
                                                button.btn_black Reply
                            .blog-detail__comments_item
                                .blog-detail-comment__main
                                    .blog-detail-comment__main__img.img-cont
                                        img(src="img/face2.jpg" alt="avatar")
                                    .blog-detail-comment__main__text
                                        span.title Jackey Lawsun
                                        p.
                                            In consectetur malesuada tortor, a tristique erat volutpat ut. Praesent ultricies at massa non sollicitudin. Fusce pellentesque at libero in congue. Nullam et neque ut lectus posuere interdum. Nunc venenatis lorem non accumsan molestie. Mauris auctor ut libero eget pharetra. Nulla facilisi. Sed maximus porta libero et pulvinar. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis a lobortis nunc.
                                            sollicitudin vestibulum cursus. Orci varius natoque penatibus et magnis dis parturient montes, nas
                                    .blog-detail-comment__main_btn
                                        .btn_blog
                                            button.btn_black Reply


                .col-md-6
                    include ../blocks/blog-siebar.jade