.account-sidebar__wrap
    ul.account-sidebar
        li.account-sidebar__item
            a(href="/www/account-dashboard.html").active
                i(class="fa fa-caret-right" aria-hidden="true")
                span Account dashboard
        li.account-sidebar__item
            a(href="/www/account-orders.html")
                i(class="fa fa-caret-right" aria-hidden="true")
                span My Orders
        li.account-sidebar__item
            a(href="/www/account-whishlist.html")
                i(class="fa fa-caret-right" aria-hidden="true")
                span My Wishlist
        li.account-sidebar__item
            a(href="/www/account-subscription.html")
                i(class="fa fa-caret-right" aria-hidden="true")
                span Newsletter Subscription
        li.account-sidebar__item
            a(href="/www/account-password.html")
                i(class="fa fa-caret-right" aria-hidden="true")
                span Change Password