.benefits
    .main-page__benefits
        .row
            .col-md-8
                .main-page__benefits__wrap
                    .main-page__benefits__title
                        i.fa.fa-usd(aria-hidden="true")
                        span 100% Money Back Guarantee
                    .main-page__benefits__text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit
            .col-md-8
                .main-page__benefits__wrap
                    .main-page__benefits__title
                        i.fa.fa-plane(aria-hidden="true")
                        span Free Shipping
                    .main-page__benefits__text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit
            .col-md-8
                .main-page__benefits__wrap
                    .main-page__benefits__title
                        i.fa.fa-comments(aria-hidden="true")
                        span 24x7 Helpline
                    .main-page__benefits__text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit
    .main-page__benefits__help
        .row
            .col-md-24
                .main-page__benefits__help__happy
                    i.fa.fa-smile-o(aria-hidden="true")
                    a(href="#") Happy to help, 24x7