.blog-item__prev
    .row
        .blog-item__prev_wrap
            .col-sm-12
                .blog__prev
                    a(href="").img-cont
                        img(src="img/product2.jpg")
                    .main-page__blog__prev__date
                        span 25 ЛИС
            .col-sm-12
                .blog__text
                    a(href="").main-page__blog__text__title Vivamus finbus ante
                    .main-page__blog__text__feedback
                        a(href="").main-page__blog__text__comm
                            i.fa.fa-comments(aria-hidden="true")
                                span 58
                                span comments
                        a(href="").main-page__blog__text__like
                            i.fa.fa-thumbs-o-up(aria-hidden="true")
                                span 58
                                span comments
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit, lobortis maximus elit tempus vel. Maecenas commodo odio sit amet mi rhoncus, nec vestibulum risus ornare.
                    a.main-page__blog__text__more(href="#") READ MORE