.blog-sidebar
    .blog-sidebar__search
        form(action='')
            input(type="search" placeholder="Search item")
            button(type='submit')
                i(class="fa fa-search" aria-hidden="true")
    .blog-sidebar__topic
        .blog-sidebar__topic__title
            h5 categories
        ul.blog-sidebar__topic__list
            li
                a(href="#")
                    span category item
                    span (05)
            li
                a(href="#")
                    span category item
                    span (05)
            li
                a(href="#")
                    span category item
                    span (05)
            li
                a(href="#")
                    span category item
                    span (05)
            li
                a(href="#")
                    span category item
                    span (05)
            li
                a(href="#")
                    span category item
                    span (05)
    .blog-sidebar__topic
        .blog-sidebar__topic__title
            h5 archive
        ul.blog-sidebar__topic__list
            li
                a(href="#")
                    span Archive item
                    span (05)
            li
                a(href="#")
                    span Archive item
                    span (05)
            li
                a(href="#")
                    span Archive item
                    span (05)
            li
                a(href="#")
                    span Archive item
                    span (05)
            li
                a(href="#")
                    span Archive item
                    span (05)
            li
                a(href="#")
                    span Archive item
                    span (05)
    .blog-sidebar__topic
        .blog-sidebar__topic__title
            h5 recent posts
        ul.blog-sidebar__topic__list_recent
            li
                a(href="#")
                    .recent-posts__img.img-cont
                        img(src="img/product2.jpg" alt="recent preview")
                    .recent-posts__text
                        span Lorem ipsum dolor set amet lorem ipsum
                        span 25 may, 2017
            li
                a(href="#")
                    .recent-posts__img.img-cont
                        img(src="img/product2.jpg" alt="recent preview")
                    .recent-posts__text
                        span Lorem ipsum dolor set amet lorem ipsum dolor set amet lorem ipsum
                        span 25 may, 2017)
            li
                a(href="#")
                    .recent-posts__img.img-cont
                        img(src="img/product2.jpg" alt="recent preview")
                    .recent-posts__text
                        span Lorem ipsum
                        span 25 may, 2017
    .blog-sidebar__tags
        .blog-sidebar__topic__title.blog-sidebar__tags__title
            h5 tags
        .blog-sidebar__tags__body
            form(action='')
                label
                    span  Develop
                    input(type='checkbox', name='vehicle', value='Bike')
                label
                    span  Wordpress
                    input(type='checkbox', name='vehicle', value='Car', checked='')
                label
                    span  Jquery
                    input(type='checkbox', name='vehicle', value='Car', checked='')
                label
                    span  Lorem
                    input(type='checkbox', name='vehicle', value='Car', checked='')
                label
                    span  thislongtag
                    input(type='checkbox', name='vehicle', value='Car', checked='')
                label
                    span  car
                    input(type='checkbox', name='vehicle', value='Car', checked='')