.catalog__item_wrap
    .catalog__item-inner
        .catalog__item
            .catalog__item__img
                a(href="").img-cont
                    img(src="img/product1.jpg")
                .catalog__item__specials
                    .catalog__item__new
                        span Новинка
                    .catalog__item__sale
                        span Суперціна
                    .catalog__item__hot
                        span Топ продажів
                .catalog__item__stars
                    a(href="").catalog__item__stars_link
                        i(class="fa fa-star" aria-hidden="true")
                        i(class="fa fa-star" aria-hidden="true")
                        i(class="fa fa-star-o" aria-hidden="true")
                        i(class="fa fa-star-o" aria-hidden="true")
                        i(class="fa fa-star-o" aria-hidden="true")
                        span відгуки (100)
            .catalog__item__inf
                .catalog__item__title
                    a(href="" title="Product title").catalog__item__title_link Product Title Product Title
                .catalog__item__price
                    .catalog__item__price__old
                        span 6156
                        span грн
                    .catalog__item__price__new
                        span 5000
                        span грн
                .catalog__item__controls
                    button.catalog__item__controls_cart.catalog__item__controls__btn
                        i(class="fa fa-cart-arrow-down shopping_cart" aria-hidden="true")
                        i(class="fa fa-check-circle icon_check" aria-hidden="true")
                    button.catalog__item__controls_favorite.catalog__item__controls__btn
                        i(class="fa fa-heart-o heart_stroke" aria-hidden="true")
                        i(class="fa fa-heart heart_fill" aria-hidden="true")
                    button.catalog__item__controls_compare.catalog__item__controls__btn
                        i(class="fa fa-balance-scale" aria-hidden="true")
                        i(class="fa fa-check-circle icon_check" aria-hidden="true")
        .catalog__item__description
            a.catalog__item__category.link.link--dark(href="#") Category
            br
            span.catalog__item__brand Brand:
            span.catalog__item__brand_name  Apple
            p.catalog__item__propperty Предназначен для охраны квартиры, офиса, загородного дома, склад и т.д.