# cache
Thumbs.db
Desktop.ini
*.DS_Store
*.empty
*~

# SublimeText
# /*.sublime-project


# project
psd/
tech-request/
plugins/


node_modules/
БОДЯ/
PSDKEYS.COM_Fashion__eCommerce_PSD_Template/
PSDKEYS_medialoot_active_store_ui_kit/