include _includes/mixins
doctype html
html(lang='en')
	- var title = 'title';
	include _includes/head
	body
		include _includes/header/header

		.wrapper

			main.main


		include _includes/footer/footer


		/// modals start
		/// modals end
		
		// java script links
		include _includes/js-links