main
    .container
        .row
            .our-contacts
                .col-md-8
                    .our-contacts__address
                        .our-contacts__address__item.our-contacts__address__item_address
                            i(class="fa fa-home" aria-hidden="true")
                            h6 Address
                            span м.Львів вул.Винниченка 12 пов. 3
                        .our-contacts__address__item.our-contacts__address__item_email
                            i(class="fa fa-envelope" aria-hidden="true")
                            h6 Email
                            a(href="mailto:tb-lviv@Gmail.com") tz.lviv@mail.com
                        .our-contacts__address__item.our-contacts__address__item_phone
                            i(class="fa fa-phone" aria-hidden="true")
                            h6 Telephone
                            a(href="tel:+380971234567") (098)797-87-92
                        .our-contacts__address__item.our-contacts__address__item_skype
                            i(class="fa fa-skype" aria-hidden="true")
                            h6 Skype
                            span this-skype
                .col-md-16
                    .our-contacts__form
                        form(action="")
                            .meta
                                input(type='text' placeholder="Full Name")
                                input(type='text' placeholder="Email id")
                            textarea( placeholder="Message")
                            button(type="submit").btn_black Submit
    section
        .container
            .our-contacts__map
                .related_products__head
                    .header
                        h4 Find us
                .contact-map
                    iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5146.223046353369!2d24.037045!3d49.840362!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb8199c5960676184!2z0KLQt9Ce0JIgItCi0JXQoNCY0KLQntCg0IbQryDQl9CQ0KXQmNCh0KLQoyI!5e0!3m2!1suk!2sua!4v1507721690197', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
                    .contact-map__filter


