section.product_details
    .container
        .product_details_main
            .row
                .col-md-12
                    .product_details__main__slider_wrap
                        ul.product_details__main__slider
                            li
                                img(src='img/product3.jpg')
                            li
                                img(src='img/product1.jpg')
                            li
                                img(src='img/product2.jpg')
                        #bx-pager.product_details__main__prew
                            a(data-slide-index='0', href='').img-cont
                                img(src='img/product3.jpg')
                            a(data-slide-index='1', href='').img-cont
                                img(src='img/product1.jpg')
                            a(data-slide-index='2', href='').img-cont
                                img(src='img/product2.jpg')

                .col-md-12
                    .product_details__main_param