main
    .account-orders__wrap
        .container
            .row
                .col-md-6
                    include ../blocks/account-sidebar.jade
                .col-md-18
                    .account-orders__main
                        span.account-orders__main__title your orders
                        section.your-cart
                                //h5 Your cart
                                article.cart-container
                                    .column-group
                                        .column
                                        .column
                                        .column
                                    .column.column-last
                                    header
                                        ul
                                            li.cart-item.cart-item_name Product name
                                            li.cart-item.cart-item_purchase Date Of Purchase
                                            li.cart-item.cart-item_delivery Date Of Delivery
                                            li.cart-item.cart-item_status Status
                                            //li.cart-item
                                    .content
                                        ul
                                            li.cart-item
                                                a(href="/www/product_details.html").img-cont
                                                    img(src="img/product1.jpg")
                                                    .cart-item__info
                                                        span Product title
                                                        span.cart-item__info__price $86.00
                                            li.cart-item
                                                span 25 march, 2015
                                            li.cart-item
                                                span 25 march, 2015
                                            li.cart-item
                                                i.order-status-ok(class="fa fa-check" aria-hidden="true")
                                                span Delivered by Cash
                                        ul
                                            li.cart-item
                                                a(href="/www/product_details.html").img-cont
                                                    img(src="img/product1.jpg")
                                                    .cart-item__info
                                                        span Product title Product titleProduct title
                                                        span.cart-item__info__price $86.00
                                            li.cart-item
                                                span 25 march, 2015
                                            li.cart-item
                                                span 25 march, 2015
                                            li.cart-item
                                                i.cancel(class="fa fa-times" aria-hidden="true")
                                                span Cancel by user
                                        ul
                                            li.cart-item
                                                a(href="/www/product_details.html").img-cont
                                                    img(src="img/product1.jpg")
                                                    .cart-item__info
                                                        span Product title Product titleProduct title
                                                        span.cart-item__info__price $86.00
                                            li.cart-item
                                                span 25 march, 2015
                                            li.cart-item
                                                span 25 march, 2015
                                            li.cart-item
                                                i.order-status-ok(class="fa fa-check" aria-hidden="true")
                                                span Delivered by Cash