main
    .container
        .account-dashboard__main
            .row
                .col-md-6
                    include ../blocks/account-sidebar.jade
                .col-md-18
                    .account-main
                        .account-avatar
                            .avatar-img
                                .img-cont
                                    img(src="img/face3.jpg" alt="your avatar" title="avatar")
                            .avatar-change
                                a(href="#")
                                    i.fa.fa-pencil
                                    span Change Profile picture
                            .account-dashboard__text
                                span Hello John
                                p.
                                    Lorem ipsum dolor set amet ipsum dolor set amet ipsum dolor set amet ipsum dolor set amet ipsum dolor set amet ipsum dolor set amet ipsum dolor set amet ipsum dolor set amet ipsum dolor set amet ipsum dolor set amet ipsum dolor set amet ipsum dolor set amet ipsum dolor set amet ipsum dolor set amet
                            .account-dashboard__personal
                                .row
                                    .col-md-12
                                        .personal-information
                                            .personal-information__top.personal-information_edit
                                                span Personal Information
                                                a(href="#")
                                                    i.fa.fa-pencil
                                                    span Edit
                                            .personal-information__bottom
                                                span Name: Your name
                                                span Email: your@email.net
                                    .col-md-12
                                        .newsletter-subscription
                                            .newsletter-subscription__top.personal-information_edit
                                                span Newsletter Subscription
                                                a(href="#")
                                                    i.fa.fa-pencil
                                                    span Edit
                                            .newsletter-subscription__bottom
                                                span Email: your@email.net
                                .account-dashboard__address
                                    .personal-address
                                        .personal-address__top.personal-information_edit
                                            span Address
                                            a(href="#")
                                                i.fa.fa-pencil
                                                span Add New Address
                                        .personal-address__bottom
                                            .personal-address__bottom__item
                                                .personal-address-title
                                                    .personal-address__name
                                                        span Address 1:
                                                    .personal-address__edit
                                                        a(href="#")
                                                            i.fa.fa-pencil
                                                            span Edit
                                                        a(href="#")
                                                            i.fa.fa-trash
                                                            span Remove
                                                span.address-text 123456 Your State And Town with +380912345678
                                            .personal-address__bottom__item
                                                .personal-address-title
                                                    .personal-address__name
                                                        span Address 1:
                                                    .personal-address__edit
                                                        a(href="#")
                                                            i.fa.fa-pencil
                                                            span Edit
                                                        a(href="#")
                                                            i.fa.fa-trash
                                                            span Remove
                                                span.address-text 123456 Your State And Town with +380912345678
                                            .personal-address__bottom__item
                                                .personal-address-title
                                                    .personal-address__name
                                                        span Address 1:
                                                    .personal-address__edit
                                                        a(href="#")
                                                            i.fa.fa-pencil
                                                            span Edit
                                                        a(href="#")
                                                            i.fa.fa-trash
                                                            span Remove
                                                span.address-text 123456 Your State And Town with +380912345678
