main
    .account-orders__wrap
        .container
            .row
                .col-md-6
                    include ../blocks/account-sidebar.jade
                .col-md-18
                    .account-subscription-main
                        span.account-subscription__title Newsletter subsription
                        form
                            ul.account-subscription__list
                                li
                                    label
                                        span
                                            input(type="checkbox")
                                        .account-subscription__text
                                            h4 Our recomendation
                                            p The unique suggestions we picked for you based on your activity on the site
                                li
                                    label
                                        span
                                            input(type="checkbox")
                                        .account-subscription__text
                                            h4 Our recomendation
                                            p The unique suggestions we picked for you based on your activity on the site
                                li
                                    label
                                        span
                                            input(type="checkbox" checked="checked")
                                        .account-subscription__text
                                            h4 Our recomendation
                                            p The unique suggestions we picked for you based on your activity on the site
                                li
                                    label
                                        span
                                            input(type="checkbox" checked="checked")
                                        .account-subscription__text
                                            h4 Our recomendation
                                            p The unique suggestions we picked for you based on your activity on the site
                            button(type="submit").btn_black submit