main
    .account-orders__wrap
        .container
            .row
                .col-md-6
                    include ../blocks/account-sidebar.jade
                .col-md-18
                    .account-password-main
                        span.account-password__title change your password
                        form.account-password__form
                            .account-password__form__item
                                span Type Your Current Password:
                                input(type="text")
                            .account-password__form__item
                                span Type Your New Password:
                                input(type="password")
                            .account-password__form__item
                                span Confirm Password:
                                input(type="password")
                            .account-password__form__item.account-password__form__item_button
                                button(type="submit").btn_black submit
