main
    .container
        .our-blog
            .row
                .col-md-18
                    .blog-list
                        .blog_title
                            h4.new_arrival__title.main-page_product__title our blogs
                        include ../blocks/blog-item-prev.jade
                        include ../blocks/blog-item-prev.jade
                        include ../blocks/blog-item-prev.jade
                        include ../blocks/blog-item-prev.jade
                        include ../blocks/blog-item-prev.jade
                .col-md-6
                    include ../blocks/blog-siebar.jade