main.main
    section.main_slider
        .container
            .main_slider_wrap
                .main_slider
                    ul.bxslider
                        li.bxslider__item
                            img(src="img/slider1.jpg" title="Home alarm system" alt="slider image")
                            .main_slider__desc
                                p Home alarm system
                        li.bxslider__item
                            img(src="img/slider2.jpg" title="House alarm system" alt="slider image")
                            .main_slider__desc
                                p Home alarm system
                        li.bxslider__item
                            img(src="img/slider3.jpg" title="Digital systems" alt="slider image")
                            .main_slider__desc
                                p Home alarm system
    .tabs_nav
        .container
                // Nav tabs
                ul.nav.nav-tabs.nav-tabs-main(role='tablist')
                    li.active(role='presentation')
                        a(href='#home', aria-controls='home', role='tab', data-toggle='tab') SALE
                    li(role='presentation')
                        a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') HOT
                    li(role='presentation')
                        a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') NEW
    section.new_arrival
        .container
            .main_page__tabs
                // Tab panes
                .tab-content
                    #home.tab-pane.active.tab-pane-main(role='tabpanel')
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                    #profile.tab-pane.tab-pane-main(role='tabpanel')
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                    #messages.tab-pane.tab-pane-main(role='tabpanel')
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
                        include ../blocks/product.jade
    section.feedback
        .container
            .feedback__wrap
                ul.feedback__slider
                    li
                        .feedback__slider__item
                            .feedback__slider__item_avatar
                                img(src='img/face3.jpg')
                            .feedback__slider__item_text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit
                            span Anonim
                    li
                        .feedback__slider__item
                            .feedback__slider__item_avatar
                                img(src='img/face2.jpg')
                            .feedback__slider__item_text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non
                            span Anonim
                    li
                        .feedback__slider__item
                            .feedback__slider__item_avatar
                                img(src='img/face1.jpg')
                            .feedback__slider__item_text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit
                            span Anonim
    section.blogs
        .container
            .blog_title
                h4.new_arrival__title.main-page_product__title BLOGS
            .main-page_blog
                .row
                    .col-sm-12
                        include ../blocks/blog-item-prev.jade
                    .col-sm-12
                        include ../blocks/blog-item-prev.jade
                        //.row
                        //    .col-sm-12
                        //        .blog__prev
                        //            a(href="").img-cont
                        //                img(src="img/product1.jpg")
                        //            .main-page__blog__prev__date
                        //                span 25 ЛИС
                        //    .col-sm-12
                        //        .blog__text
                        //            a(href="").main-page__blog__text__title Vivamus finbus ante
                        //            .main-page__blog__text__feedback
                        //                a(href="").main-page__blog__text__comm
                        //                    i.fa.fa-comments(aria-hidden="true")
                        //                        span 58
                        //                        span comments
                        //                a(href="").main-page__blog__text__like
                        //                    i.fa.fa-thumbs-o-up(aria-hidden="true")
                        //                        span 58
                        //                        span comments
                        //            p | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit, lobortis maximus elit tempus vel. Maecenas commodo odio sit amet mi rhoncus, nec vestibulum risus ornare.Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit, lobortis maximus elit tempus vel. Maecenas commodo odio sit amet mi rhoncus, nec vestibulum risus ornare.Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit, lobortis maximus elit tempus vel. Maecenas commodo odio sit amet mi rhoncus, nec vestibulum risus ornare.
                        //            a.main-page__blog__text__more(href="#") READ MORE
            .benefits
                .main-page__benefits
                    .row
                        .col-md-8
                            .main-page__benefits__wrap
                                .main-page__benefits__title
                                    i.fa.fa-usd(aria-hidden="true")
                                    span 100% Money Back Guarantee
                                .main-page__benefits__text
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit
                        .col-md-8
                            .main-page__benefits__wrap
                                .main-page__benefits__title
                                    i.fa.fa-plane(aria-hidden="true")
                                    span Free Shipping
                                .main-page__benefits__text
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit
                        .col-md-8
                            .main-page__benefits__wrap
                                .main-page__benefits__title
                                    i.fa.fa-comments(aria-hidden="true")
                                    span 24x7 Helpline
                                .main-page__benefits__text
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis tortor, scelerisque non laoreet vitae, suscipit at sem. Curabitur accumsan fermentum elit
                .main-page__benefits__help
                    .row
                        .col-md-24
                            .main-page__benefits__help__happy
                                i.fa.fa-smile-o(aria-hidden="true")
                                a(href="#") Happy to help, 24x7
