
header.header
    section.header__top
        .container
            .header__top__fix
                .header__top__info
                    .header__top__info__language
                        //a(href="#")
                        i(class="fa fa-globe" aria-hidden="true")
                        a(href="#").active UA
                        span |
                        a(href="#") RU
                    .header__top__info__phone
                        a(href="tel:+3801234567")
                            i(class="fa fa-mobile" aria-hidden="true")
                            span +3801234567
                    .header__top__info__mail
                        a(href="mailto:tb-lviv@Gmail.com")
                            i(class="fa fa-envelope-o" aria-hidden="true")
                            span tb-lviv@Gmail.com
                .header__top__actions
                    a(href="/www/login.html").header__top__actions__signIn
                        i(class="fa fa-sign-in" aria-hidden="true")
                        span Sign In/Register
                    a(href="/www/login.html").header-personal
                        i(class="fa fa-user" aria-hidden="true")
                        span Profile_name
                    //span /
                    //a.header__top__actions__Register(href="#")

    section.heder__mid
        .container.clearfix
            .logo_wrap
                a.logo(href="/www/main.html")
                    img(src="img/logo.png")

            ul.header_links
                li
                    a(href="/www/catalog.html") Catalog
                li
                    a(href="/www/our-blog.html") Blog
                li
                    a(href="/www/contact-us.html") Contact us
                li
                    a(href="/www/software.html") Software
                li
                    a(href="/www/cart.html").shopping-cart
                        i(class="fa fa-shopping-cart fa-2x" aria-hidden="true")
                            span.shopping_cart_circle 5
    section.header__bottom
        .container.clearfix
            .main_navigation.clearfix
                button.btn.show_mainmenu(id="show_mainmenu")
                    span.show_mainmenu__line
                .mainmenu#mainmenu
                    ul
                        li
                            a(href='#') Пункт 1
                        li
                            a(href='#') Пункт 2
                        li
                            a(href='#') Длинный пункт меню 3
                        li
                            a(href='#') Пункт 4
                        li.parent
                            a(href='#') Пункт 5
                            span.menu_caret
                            ul
                                li.parent
                                    a(href='#') подпункт 5.1
                                    span.menu_caret
                                    ul
                                        li
                                            a(href='#')  подпункт 5.1.1
                                        li
                                            a(href='#')  подпункт 5.1.2
                                        li
                                            a(href='#')  подпункт 5.1.3
                                        li.parent
                                            a(href='#') подпункт 5.1
                                            span.menu_caret
                                            ul
                                                li
                                                    a(href='#')  подпункт 5.1.1
                                                li
                                                    a(href='#')  подпункт 5.1.2
                                                li
                                                    a(href='#')  подпункт 5.1.3
                                                li
                                                    a(href='#')  подпункт 5.1.4
                                                li
                                                    a(href='#')  подпункт 5.1.5
                                        li
                                            a(href='#')  подпункт 5.1.5
                                li
                                    a(href='#') подпункт 5.2
                                li
                                    a(href='#') подпункт 5.3
                                li
                                    a(href='#') подпункт 5.4
                                li
                                    a(href='#') подпункт 5.5
                        li
                            a(href='#') Пункт 6
                button.search_block_triger.btn.btn-info(id="search_block_triger") search
                .search_block(id="search_block")
                    form.search_form
                        input(type="search" name="search" placeholder="Site search").input_search_form
                        button(type="submit" value="").submit_search_form
                        i(class="fa fa-search search_form__icon" aria-hidden="true")
