//---------- java script links start----------
//--------------------------------------------
script(src='js/jquery-1.11.3.min.js')
//script(src='js/bootstrap-select.min.js')
//script(src='js/jquery.validate.min.js')
//script(src='js/jquery.mask.min.js')
//- script(src='js/jquery.mCustomScrollbar.concat.min.js')
//- script(src='js/bs-js/transition.js')
script(src='js/bs-js/modal.js')
//- script(src='js/owl.carousel.min.js')
// -- bx-slider init start---//
script(src='js/jquery.bxslider/jquery.bxslider.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js')


// -- jquery - UI init end---//
script(src="js/jquery-ui-1.12.1/jquery-ui.js")
// -- jquery - UI init end---//

script(src='js/modals.js')
script(src='js/main.js')
	

//--------------------------------------------
//---------- java script links end------------
//--------------------------------------------
script(src='js/bs-js/collapse.js')
script(src='js/bs-js/transition.js')
script(src='js/bs-js/tab.js')
script(src='js/bs-js/dropdown.js')