main
    .container
        .software
            .software__title
                h3 Програмне забезпечення
            .col-md-8
                .software__brand
                    h5.software__brand__title Ajax:
                    ul.fa-ul
                        li
                            a(href="#")
                                i.fa-li.fa.fa-download
                                | List icons
                        li
                            a(href="#")
                                i.fa-li.fa.fa-download
                                | List icons
                        li
                            a(href="#")
                                i.fa-li.fa.fa-download
                                | List icons
                        li
                            a(href="#")
                                i.fa-li.fa.fa-download
                                | List icons
            .col-md-8
                .software__brand
                    h5.software__brand__title Ajax:
                    ul.fa-ul
                        li
                            a(href="#")
                                i.fa-li.fa.fa-download
                                | List icons
                        li
                            a(href="#")
                                i.fa-li.fa.fa-download
                                | List icons
                        li
                            a(href="#")
                                i.fa-li.fa.fa-download
                                | List icons
                        li
                            a(href="#")
                                i.fa-li.fa.fa-download
                                | List icons
            .col-md-8
                .software__brand
                    h5.software__brand__title Ajax:
                    ul.fa-ul
                        li
                            a(href="#")
                                i.fa-li.fa.fa-download
                                | List icons
                        li
                            a(href="#")
                                i.fa-li.fa.fa-download
                                | List iconsList iconsList iconsList iconsList iconsList
                        li
                            a(href="#")
                                i.fa-li.fa.fa-download
                                | List icons
                        li
                            a(href="#")
                                i.fa-li.fa.fa-download
                                | List icons